@import url('https://fonts.googleapis.com/css2?family=Galada&family=Grenze+Gotisch:wght@400;500&display=swap');

.carousel-caption {
    position: absolute;
    top: 200px;
    text-align: left;
}

@media (max-width: 700px) {
    .carousel-caption {
        top: 20vh;
    }

}
/* .carousel-inner{
    height: 500px;
    width: 100%;
    background-color: cadetblue;
}  */
.carousel-caption h1 {
    color: black;
    font-size: 4em;
    font-family: 'Galada', cursive;
}
.carousel-caption p {
    font-family: 'Grenze Gotisch';
    color: #303d58;
    font-size: 1.5em;
    margin-top: -5px;
}
.animate__animated.animate__backInLeft {
    --animate-duration: 3s;
    --animate-delay: 10.9s;
  }

