<div class="container-fluid">
    <div class="row border m-3 p-3 rounded">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-3">
                    <img src="assets/icon_cms1.png" alt="">
                </div>
                <div class="col-md-9">
                    <h3>Free Shipping</h3>
                    <p>On all order</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-3">
                    <img src="assets/icon_cms2.png" alt="">
                </div>
                <div class="col-md-9">
                    <h3>Free Returns</h3>
                    <p>Return are free within 9 days</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-3">
                    <img src="assets/icon_cms3.png" alt="">
                </div>
                <div class="col-md-9">
                    <h3>100% Payment Secure</h3>
                    <p>Your payment are safe with us</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-3">
                    <img src="assets/icon_cms4.png" alt="">
                </div>
                <div class="col-md-9">
                    <h3>Support 24/7</h3>
                    <p>Contact us 24 hrs</p>
                </div>
            </div>
        </div>
    </div>
</div>