
    <div class="container bg-height" style="background-image: url('/assets/images/front-img/card.png');">
            <div class="product-man">
                <div class="">
                    <img src="/assets/images/front-img/card-man.png" alt="">
                </div>
            </div>
            <div class="content">
                <div class="row justify-content-between align-items-end">
                    <div class="col-xl-4 col-lg-2 col-md-2 d-none d-lg-block">
                        <div class="vertical-text">
                            <span>Manz</span>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8">
                        <div class="p-content">
                            <h2>Find The Best Product<br> from Our Shop</h2>
                            <p>Designers who are interesten creating state ofthe.</p>
                            <a href="#">
                                <button class="btn">Shop</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
