<div class="container pt-5" id="productDetail">
    <div class="row pt-2">
        <mat-card>
            <h1>Details</h1>
          <mat-spinner *ngIf="isLoading"></mat-spinner>
          <div *ngIf="!isLoading" class="row">
                <div class="col-sm-6 bg-info">


                    <img id="featured" (click)="onSelect(featuredImg)" src="http://localhost:8000{{featuredImg}}" alt="">
                    <div class="slide-wrapper">
                        <div id="slider">
                            <div *ngFor="let img of productDetails.images">
                                <img class="small-thumbnail" (click)="onSelect(img)" src="http://localhost:8000{{img.image}}" alt="">
                              </div>
                        </div>
                    </div>
                  
                </div>
                <div class="col-sm-6 description">
                    <h4>{{productDetails?.category}}</h4>
                    <h1>{{productDetails?.product_name}}</h1>
                    <span [ngClass]="{'orange': productDetails.average_review_rating > 0}"><fa-icon class="fa-xs" [icon]="faStar"></fa-icon></span>
                    <span [ngClass]="{'orange': productDetails.average_review_rating > 1}"><fa-icon class="fa-xs" [icon]="faStar"></fa-icon></span>
                    <span [ngClass]="{'orange': productDetails.average_review_rating > 2}"><fa-icon class="fa-xs" [icon]="faStar"></fa-icon></span>
                    <span [ngClass]="{'orange': productDetails.average_review_rating > 3}"><fa-icon class="fa-xs" [icon]="faStar"></fa-icon></span>
                    <span [ngClass]="{'orange': productDetails.average_review_rating > 4}"><fa-icon class="fa-xs" [icon]="faStar"></fa-icon></span>
                    <hr>
                    <div class="price">
                        <p class=" font-weight-bold"><span>Price: </span> <span>Rs {{productDetails?.price}}</span></p> &nbsp;
                        <p class=" text-muted">Rs {{productDetails?.price}}</p> &nbsp;
                        <p class="">( 40% OFF )</p> <br>
                    </div>
                    <p>- {{productDetails?.description}}</p>
                    <button class="btn btn-primary" (click)="onProductAdded()">{{cartAddButtonStatus}}</button> &nbsp;
                    <button class="btn btn-default border">Add to Wishlist</button>
                    <h3 class="pt-4">DELIVERY OPTIONS</h3>
                    <form class="form-inline" [formGroup]="pinForm">
                        <div class="form-group">
                            <input formControlName="pinNumber" type="text" class="form-control">
                        </div>
                        &nbsp;&nbsp;
                        <button type="submit" (click)="onPinCheck()" class="btn btn-info">Check</button>
                    </form>
                    <p class="font-weight-light">Please enter PIN code to check delivery time & Pay on Delivery Availability</p>

                    <ul class="mt-4 font-weight-normal">
                        <li>100% Original Products</li>
                        <li>Free Delivery on order above Rs. 799</li>
                        <li>Pay on delivery might be available</li>
                        <li>Easy 30 days return and exchange</li>
                        <li>Try & Buy might available</li>
                    </ul>
                </div>
            </div>

        </mat-card>
    </div>
</div>
