.container {
    margin-top: 60px;
    padding-top: 20px;
  }
.main {
  width: 50%;
  margin: auto;
  margin-bottom: 4em;
  padding-bottom: 20px;
  border: 1px solid #fff;
  /*background-color: rgba(234, 132, 233, 0.76);*/
  border-radius: 0px;
  overflow: hidden;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.main h3 {
    text-align: center;
    font-size: xx-large;
    padding-top: 10px;
    font-weight: bolder;
    color: #9e9fa1;
  }

  .form-control {
    border-radius: 0;
  }

  .main button {
    float: right;
  }