<div class="container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div class="row" *ngIf="!isLoading">
        <div class="main"  *ngIf="!resetStatus" >
            <h3>Forgot Password</h3>
            <p>Please enter your e-mail address. You will receive an e-mail along with a link which can be used to reset your password.</p>
            <form [formGroup]="resetPasswordForm" class="">
                <div class="form-group">
                    <input id="email" formControlName="email" type="text" class="form-control">
                </div>
                <a routerLink="../login"><p>Login</p></a>
                <button class="btn btn-primary" (click)="onReset()">Reset</button>
            </form>
        </div>
    </div>
    <p *ngIf="resetStatus">{{resetStatus}}</p>
</div>