h1 {
    font-size: 2rem;
    margin: auto;
    font-weight: bolder;
    font-family: Calisto MT;
}
.card {
    border: 0;
    position: relative;
}
.content {
    position: absolute;
    top: 30%;
    right: 20px;
}

.content h3 {
    font-family: 'Galada', cursive;
    color: mediumblue;
    text-shadow: white -2px -2px;
    margin-top: -10px;
    padding-left: 6px;
}